.header{
background-color:#000043;
 display:flex;
 justify-content:space-between;}

.site-description{
    display:flex;
    flex-direction: column;
    justify-content:first baseline ;
}

.grid{
    background-color: #003000;
    display: flex;
    flex-wrap: wrap;
     justify-content:space-evenly ;
}

p,h2{
    text-align: center;
}